<div class="wrapper">

        
    <app-side-bar></app-side-bar>

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                    <li class="breadcrumb-item active">Customers</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Customers</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-sm-5">
                                        <a href="javascript:void(0);" class="btn btn-danger mb-2" (click)="openModal()">
                                            <i class="mdi mdi-plus-circle me-2"></i> Add Customers
                                          </a>
                                    </div>
                                    
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable">
                                        <thead>
                                            <tr>
                                                <th style="width: 20px;">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                                    </div>
                                                </th>
                                                <th>Customer</th>
                                                
                                                <th>Email</th>
                                                <th>Location</th>
                                                <th>Create Date</th>
                                                <th>Status</th>
                                                <th style="width: 75px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let u of users">
                                                <td>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="customCheck2">
                                                        <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                    </div>
                                                </td>
                                                <td class="table-user">
                                                    <img src="assets/images/users/avatar-4.jpg" alt="table-user" class="me-2 rounded-circle">
                                                    <a href="javascript:void(0);" class="text-body fw-semibold">{{ u.username }}</a>
                                                </td>
                                                
                                                <td>
                                                    {{ u.email }}
                                                </td>

                                                <td>
                                                    <div *ngIf="u.roles && u.roles.length > 0">
            
                                                        <ul>
                                                          <li *ngFor="let role of u.roles">{{ role.name }}</li>
                                                        </ul>
                                                      </div>
                                                      <div *ngIf="!u.roles || u.roles.length === 0">
                                                        <p>No roles assigned.</p>
                                                      </div>
                                                </td>

                                                <td>
                                                    07/07/2018
                                                </td>
                                                <td>
                                                    <span class="badge badge-success-lighten">Active</span>
                                                </td>

                                                <td>
                                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                </td>
                                            </tr>

                                            
                                            <tr>
                                                <td>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="customCheck13">
                                                        <label class="form-check-label" for="customCheck13">&nbsp;</label>
                                                    </div>
                                                </td>
                                                <td class="table-user">
                                                    <img src="assets/images/users/avatar-2.jpg" alt="table-user" class="me-2 rounded-circle">
                                                    <a href="javascript:void(0);" class="text-body fw-semibold">Rory Seekamp</a>
                                                </td>
                                                <td>
                                                    078 5054 8877
                                                </td>
                                                <td>
                                                    roryamp.dayrep.com
                                                </td>
                                                <td>
                                                    United States
                                                </td>
                                                <td>
                                                    03/24/2018
                                                </td>
                                                <td>
                                                    <span class="badge badge-danger-lighten">Blocked</span>
                                                </td>

                                                <td>
                                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                    <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->


        <!--modal start -->
        <div class="modal fade" id="addCustomerModal" tabindex="-1" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addCustomerModalLabel">Add Customer</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                      <label for="username" class="form-label">Username</label>
                      <input type="text" id="username" class="form-control" formControlName="username" />
                      <div *ngIf="authForm.controls['username'].invalid && authForm.controls['username'].touched" class="text-danger">
                        Username is required.
                      </div>
                    </div>
          
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" id="email" class="form-control" formControlName="email" />
                      <div *ngIf="authForm.controls['email'].invalid && authForm.controls['email'].touched" class="text-danger">
                        Valid email is required.
                      </div>
                    </div>
          
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" id="password" class="form-control" formControlName="password" />
                      <div *ngIf="authForm.controls['password'].invalid && authForm.controls['password'].touched" class="text-danger">
                        Password is required (min length 6).
                      </div>
                    </div>
          
                    <div class="mb-3">
                      <label for="role" class="form-label">Role</label>
                      <select id="role" class="form-select" formControlName="role">
                        <option value="">Select Role</option>
                        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                      </select>
                      <div *ngIf="authForm.controls['role'].invalid && authForm.controls['role'].touched" class="text-danger">
                        Role is required.
                      </div>
                    </div>
          
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" [disabled]="authForm.invalid">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <!--modal end -->




        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>